.listings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.listing-card img {
  width: 100%;
  height: auto;
}

.listing-card {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
}

@keyframes fadeInZoom {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOutZoom {
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: scale(0.85);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
